<h1>Welcome, <%=@user.username%>! Here are your reviews!</h1>
<br>
<%@reviews.each do |review|%>
  <h2><%=movie_reviewed(review).name%></h2>
  <h3>Score: <%=review.score%></h3>
  <p><%=review.content%></p>
  <form method = "get" action = "/reviews/<%=review.id%>/edit">
    <input type = "submit" value="Edit Review">
  </form>
  <form method = "post" action = "/home/<%=review.id%>">
    <input type = "submit" value="Delete Review">
  </form>
  <br>
<%end%>
<a href="/reviews/new">Create a new Review</a>
<br>  
<a href="/logout">Logout</a>