<h1>Welcome, <%=@user.username%>! Here are your reviews!</h1>
<br>
<%@reviews.each_with_index do |review,index|%>
  <p><%=review.content%></p>
  <form method = "get" action = "/<%=@user.username%>/reviews/<%=index+1%>/edit">
    <input type = "submit" value="Edit">
  </form>
  <form method = "post" action = "/<%=@user.username%>/reviews/<%=index+1%>/delete">
    <input type = "submit" value="Delete">
  </form>
  <br>
<%end%>
<a href="/logout">Logout</a>