<h1>Edit Review</h1>
<h2><%=@movie.name%></h2>

<form action = "/reviews/movies/<%=@movie.slug%>/<%=@review.id%>" method="post">
  <label for="score">Score</label>
  <input type = "text" name = "score" value = "<%=@review.score%>">
  <br>
  <label for="content">Review</label>
  <input type = "text" name = "content" value = "<%=@review.content%>" id ="review-content">
  <br>
  <input type = "submit" value = "Edit">
</form>
